h1 {
  font-family: $intertight;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-transform: capitalize;
}
h2 {
  color: var(--color-pallete-main-pallete-neutralGreyDark, #1f2328);
  text-align: center;
  font-family: $intertight;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
h5 {
  font-family: $intertight;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.09px;
}

.base-l--bold {
  font-family: $intertight;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}
.base-l--semibold {
  font-family: $intertight;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}
.base-l--regular {
  font-family: $intertight;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}
.base-m--bold {
  font-family: $intertight;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.14px;
}
.base-m--semibold {
  font-family: $intertight;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.14px;
}
.base-m--medium {
  font-family: $intertight;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.14px;
}
.base-m--regular {
  font-family: $intertight;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: 0.14px;
}
.base-s--semibold {
  font-family: $intertight;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18px */
  letter-spacing: 0.12px;
}
.base-s--regular {
  font-family: $intertight;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: 0.12px;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    letter-spacing: 0.48px;
  }
  h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 40px */
  }
}
